# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Django stuff:
*.log
local_settings.py
db.sqlite3-journal

# Virtual environments
venv/
env/
ENV/
env.bak/
venv.bak/
.env

# Media uploads (exclude user uploaded files, keep folder)
media/resumes/*
media/recommendations/*
media/company_photos/*
media/company_banners/*
media/company_logos/*
!media/.gitkeep

# IDEs & OS files
.vscode/
.idea/
*.swp
*.swo
Thumbs.db
.DS_Store

# Scratch or temporary files
scratch/
*.tmp
